html
    head
        title HTTP 404 Not Found
        meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
        meta(name='keywords', content='university of St Andrews,error 404')
        meta(name='description', content='page for trapped Error 404 File not found')
    body
        h1 Our site has moved
        p
            | Our site has moved. Please go to our new home page
            br
            a(href='http://www.st-andrews.ac.uk') http://www.st-andrews.ac.uk
        p
            | In case of problems, please contact helpdesk@st-andrews.ac.uk
        p
            hr
        p
