doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SandBox - Profesores
    link(href='/public/sandbox/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/sandbox/css/styles.css', rel='stylesheet')
    // Icons
    script(src='/public/sandBox/js/lumino.glyphs.js')
    style(type='text/css').
      .sb-ejer{
      background-color: rgba(0,0,0,0.3);
      padding-left: 20px;
      padding-bottom: 20px;
      }
      .sb-ejer h3{
      color:orange;
      }
      .sb-desc{
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
      
      }
      .ejercicios{
        border-radius:15px;
        margin-top:15px;
        background-color:#5094C4;
        opacity:0.8;
      }
      .ejercicios p{
      color: black;
      font-size: large;
      }
      #body-pan {
      background-color: #9BD0F5;
      }
      #pane-techo{
      background-color: #5094C4;
      color: white;
      }
      .titulo{
        padding-top:10px;
      }
      .dale{
          margin-top:10px;
          margin-bottom:10px;
      }
      .ejercicios h2{
        font-family:italic;
        color: white;
        font-family: "Times New Roman", Times, serif;
      }
      .ejercicios {
        height: 75rem;
        font-family: "Times New Roman", Times, serif;
      }
      .txt{
        border-radius:15px;
        margin-top:15px;
        margin-left:10vh;
        height: 75rem;
      }
      .codigo{
        border-radius:5px;
        margin-top:15px;
        background-color:black;
        color:white;
        font-family: "Courier New", Courier, monospace;
        
      }
      .btn-lg{
        float:right;
        border-radius:5px;
        margin: 0.5rem
      }
      .tittle{
        float:left;
      }
      .img-responsive{
      width: 50px; height: 50px;
      }
      
  body
    //
      Navigation
      ==========================================
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/inicio')
            span.rol
          ul.user-menu
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                svg.glyph.stroked.male-user
                  use(xlink:href='#stroked-male-user')
                label.nombreUser 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/perfil')
                    svg.glyph.stroked.male-user
                      use(xlink:href='/perfil')
                    |  Ver mi perfil
                li
                  a(href='/logout')
                    svg.glyph.stroked.cancel
                      use(xlink:href='#stroked-cancel')
                    |  Cerrar Sesión
      // /.container-fluid
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      h2(style='margin-top: 17px; padding-left: 10px;') Menú Sandbox
      ul.nav.menu
        li.active
          a(href='/inicio')
            svg.glyph.stroked.clipboard.with.paper
              use(xlink:href='#stroked-folder')
            |  Ejercicio
        li.divider(role='presentation')
        li
          a(href='/perfil')
            svg.glyph.stroked.male-user
              use(xlink:href='#stroked-male-user')
            |  Perfil
    // /.sidebar
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
      .row
        ol.breadcrumb
          li
            a(href='/inicio')
              svg.glyph.stroked.home
                use(xlink:href='#stroked-home')
          li.active Ejercicios
      // /.row
      br
      .row
        .col-lg-12
          // ============Aqui Trabajo================
          
          
          .panel.panel-default
            #pane-techo.panel-heading.col-md-12 Nuevo Ejercicio
            #body-pan.panel-body
              .ejercicios.col-md-3
                br
                h2 Titulo: 
                p=list.titulo
                h2 Descripcion:
                p= list.descripcion
                h2 Indicaciones:
                p="Utilice las siguientes variables de entrada: "+ list.datosDeEntrada     
              .col-md-8
                
                h3.tittle Python 
                img.img-responsive(src="/public/img/00.png")
                div.panel.panel-default.col-md-7(style='background-color:#5094C4;border-radius:5px; margin-top:10px')
                 div.panel-body
                    form(id='formulario',action='#')
                      div.form-group
                        h2 Suba Su Codigo:
                        input(type='file', name='archivo')
                        button.btn.btn-success.btn-lg(value='Subir' name=list._id) submit
                br
                h3.col-md-8 Script Output
                .col-md-8(style='margin-left:3vw')
                  textarea#exampleTextarea.form-control.codigo(rows='10')
                
        
                     
               

                

            // ============/Aqui Trabajo================
          // ============Aqui tambien Trabajo================
          
          // ============Aqui tambien Trabajo================
        // /.row
      // /.row
    // /.main
    script(src='/public/sandbox/js/jquery-1.11.1.min.js')
    script(src='/public/sandbox/js/bootstrap.min.js')
    script(src='/public/js/mostrar.js')
    script(src='/public/js/mostrar-Usuario.js')