doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SandBox - Estudiantes
    link(href='/public/sandBox/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/sandBox/css/datepicker3.css', rel='stylesheet')
    link(href='/public/sandBox/css/styles.css', rel='stylesheet')
    script(src='/public/sandBox/js/lumino.glyphs.js')
    style(type='text/css').
      .sb-ejer{
      background-color: rgba(0,0,0,0.3);
      padding-left: 20px;
      padding-bottom: 20px;
      }
      .sb-ejer h3{
      color:orange;
      }
      .sb-desc{
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
  
      height: 56vh;
      }
      .ejercicios{
      background-color: rgba(255,255,255,0.8);
      }
      .ejercicios p{
      color: black;
      font-size: large;
      }
      #body-pan{
      background-color: #9BD0F5;
      }
      #pane-techo{
      background-color: #5094C4;
      color: white;
      }
      .imagen{
        
        border-radius: 10rem;
        opacity: 0.9;
        margin-top: 2rem;
        
      }
      .war{
        height:40vh;
      }
      span h3{
              color: #323133;
      font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
      letter-spacing: -1px;
      text-decoration: none; 
      text-shadow: 1px 1px #fff, 0 0 #0e0e0e, 2px 3px 1px #e3e3e3; 
      text-transform: none; 
      word-spacing: -2px;
      }
      .tag{
        border-radius: 2vh;
        border-top-left-radius: 8vw;
        border-bottom-left-radius:8vw;
        margin-left: 5rem;
        padding-left:0px
      }
      .tag img{
         margin-left:0px;
         padding-left:0px;
      }
      
  body
    //
      Navigation
      ==========================================
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/inicio')
            span SandBox 
            | Estudiantes
          ul.user-menu
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                svg.glyph.stroked.male-user
                  use(xlink:href='#stroked-male-user')
                |  Fernando Sánchez Zambrano 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/perfil')
                    svg.glyph.stroked.male-user
                      use(xlink:href='/perfil')
                    |  Ver mi perfil
                li
                  a(href='/logout')
                    svg.glyph.stroked.cancel
                      use(xlink:href='#stroked-cancel')
                    |  Cerrar Sesión
      // /.container-fluid
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      h2(style='margin-top: 17px; padding-left: 10px;') Menú Sandbox
      ul.nav.menu
        li.active
          a(href='index.html')
            svg.glyph.stroked.folder
              use(xlink:href='#stroked-folder')
            | Ejercicios
        li
          a(href='libros.html')
            svg.glyph.stroked.upload
              use(xlink:href='#stroked-upload')
            |  Libros
        li.divider(role='presentation')
        li
          a(href='/perfil')
            svg.glyph.stroked.male-user
              use(xlink:href='#stroked-male-user')
            |  Perfil
    // /.sidebar
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
      .row
        ol.breadcrumb
          li
            a(href='#')
              svg.glyph.stroked.home
                use(xlink:href='#stroked-home')
          li.active Ejercicios
      // /.row
      br
      .row
        .col-xs-12.col-md-2.tag.panel.panel-teal(name='Easy')
          img.col-md-6(src='/public/img/choose.png').img-responsive
          h3 Facil
        .col-xs-12.col-md-2.tag.panel.panel-orange(name="Normal")
          img.col-md-6(src='/public/img/choose.png').img-responsive
          h3 Medio
        .col-xs-12.col-md-2.tag.panel.panel-red(name="Hard").img-responsive
          img.col-md-6(src='/public/img/choose.png')
          h3 Dificil
      .row
        .col-lg-12
          // ============Aqui Trabajo================
          .panel.panel-default
            #pane-techo.panel-heading.col-md-12 Ejercicios Disponibles
            #body-pan.panel-body
              .sb-desc.col-md-12.col-sm-12
                div.conte
                  img(src='/public/img/fondoEstudiante.png').img-responsive.center-block.imagen
        // ============/Aqui Trabajo================
      // /.row
    // /.main
    script(src='/public/sandBox/js/jquery-1.11.1.min.js')
    script(src='/public/sandBox/js/bootstrap.min.js')
    script(src='/public/sandBox/js/chart.min.js')
    script(src='/public/sandBox/js/easypiechart.js')
    script(src='/public/sandBox/js/bootstrap-datepicker.js')
    script(src='/public/js/FindExercise.js')
