doctype html
html
  head
    //
      Basic Page Needs
      ==================================================
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Sandbox - Profesores
    //
      Stylesheet
      ==================================================
    link(href='/public/sandBox/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/sandBox/css/styles.css', rel='stylesheet')
    script(src='/public/sandBox/js/lumino.glyphs.js')
    //
      Embedded Stylesheet
      ==================================================
    style(type='text/css').
      .insNovato{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
      .insPro{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
      .insExperto{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
      .insIndestrucible{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
      .insDuroDeMatar{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
      .insRapYFurioso{
          width: 200px;
          margin-bottom: 8px;
          margin-top: 20px;
      }
  body
    //
      Navigation
      ==========================================
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/inicio')
            span SandBox 
            | Usuarios
          ul.user-menu
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                svg.glyph.stroked.male-user
                  use(xlink:href='#stroked-male-user')
                label.nombreUser 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#')
                    svg.glyph.stroked.male-user
                      use(xlink:href='#stroked-male-user')
                    |  Ver mi perfil
                li
                  a(href='#')
                    svg.glyph.signia.thin-wood-pencil
                      use(xlink:href='#signia-thin-wood-pencil')
                    | Cambiar Contrase침a
                li
                  a(href='/logout')
                    svg.glyph.stroked.cancel
                      use(xlink:href='#stroked-cancel')
                    |  Cerrar Sesi칩n
      // /.container-fluid
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      h2(style='margin-top: 17px; padding-left: 10px;') Perfil
      ul.nav.menu
        li
          a.cambiaContra(href='#')
            svg.glyph.stroked.pencil
              use(xlink:href='#stroked-pencil')
            | Cambiar Contrase침a2
        li
          a(href='/logout')
            svg.glyph.stroked.cancel
              use(xlink:href='#stroked-cancel')
            | Cerrar Sesion
        li.divider(role='presentation')
        li.active
          a(href='#')
            svg.glyph.stroked.male-user
              use(xlink:href='#stroked-male-user')
            |  Mis Insignias
    // /.sidebar
    //
      Active Page
      ==========================================
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
      .row
        ol.breadcrumb
          li
            a(href='#')
              svg.glyph.stroked.home
                use(xlink:href='#stroked-home')
          li.active Usuario
      // /.row
        Perfil Header
        ==========================================
      .row.present(style='margin-bottom: 20px')
        .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='text-align: center;')
          img.img-circle.team-img(src='/public/img/icon.png', alt='...', style='width: 100px; height: 100px; margin-top: 30px; border: black 1px solid;')
          h2.nombreUser(style='margin-bottom: 0px;') 
          h3.correo(style='margin-top: 0px; margin-bottom: 0px;')
          h4.rol(style='margin-top: 0px; margin-bottom: 0px;')
          
      .row
        ol.breadcrumb
            li
                a(href='#')
                svg.glyph.stroked.home
                    use(xlink:href='#stroked-home')
            li Tus insignias
        .row
            .novato.col-md-4.text-center(hidden="true")
                img.insNovato(src='/public/img/i00.png')
                br
                p Novato
            .pro.col-md-4.text-center(hidden="true")
                img.insPro(src='/public/img/i01.png')
                br
                p Pro
            .experto.col-md-4.text-center(hidden="true")
                img.insExperto(src='/public/img/i02.png')
                br
                p Experto
            .indestructible.col-md-4.text-center(hidden="true")
                img.insIndestrucible(src='/public/img/i03.png')
                br
                p Indestructible
            .duroDeMatar.col-md-4.text-center(hidden="true")
                img.insDuroDeMatar(src='/public/img/i04.png')
                br
                p Duro de matar
            .rapidoFurioso.col-md-4.text-center(hidden="true")
                img.insRapYFurioso(src='/public/img/i06.png')
                br
                p R치pido y furioso
    //
      Javascripts
      ==================================================
    script(src='/public/sandBox/js/jquery-1.11.1.min.js')
    script(src='/public/sandBox/js/bootstrap.min.js')
    script(src='/public/js/mostrar-insignias.js')
    script(src='/public/js/mostrar-Usuario.js')