doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SandBox - Estudiantes
    link(href='/public/sandbox/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/sandbox/css/styles.css', rel='stylesheet')
    // Icons
    script(src='/public/sandbox/js/lumino.glyphs.js')
    style(type='text/css').
      .sb-ejer{
      background-color: rgba(0,0,0,0.3);
      padding-left: 20px;
      padding-bottom: 20px;
      }
      .sb-ejer h3{
      color:orange;
      }
      .sb-desc{
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
      height: 77vh;
      }
      .ejercicios{
      background-color: rgba(255,255,255,0.8);
      }
      .ejercicios p{
      color: black;
      font-size: large;
      }
      #body-pan{
      background-color: #9BD0F5;
      }
      #pane-techo{
      background-color: #5094C4;
      color: white;
      }
      .form-control{
      max-width: 550px
      }
  body
    //
      Navigation
      ==========================================
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/inicio')
            span SandBox 
            | Administrador
          ul.user-menu
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                svg.glyph.stroked.male-user
                  use(xlink:href='#stroked-male-user')
                |  Fernando Sánchez Zambrano 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/perfil')
                    svg.glyph.stroked.male-user
                      use(xlink:href='/perfil')
                    |  Ver mi perfil
                li
                  a(href='/logout')
                    svg.glyph.stroked.cancel
                      use(xlink:href='#stroked-cancel')
                    |  Cerrar Sesión
      // /.container-fluid
    #sidebar-collapse.col-sm-3.col-lg-2.sidebar
      h2(style='margin-top: 17px; padding-left: 10px;') Usuarios
      ul.nav.menu
        li
          a(href='/users')
            svg.glyph.stroked.clipboard.with.paper
              use(xlink:href='#stroked-clipboard-with-paper')
            | Ver Usuarios
        li.active
          a(href='sandbox-crearUsuarios.html')
            svg.glyph.stroked.folder
              use(xlink:href='#stroked-folder')
            | Crear Usuario
        li.divider(role='presentation')
        li
          a(href='/perfil')
            svg.glyph.stroked.male-user
              use(xlink:href='#stroked-male-user')
            |  Perfil
    // /.sidebar
    .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
      .row
        ol.breadcrumb
          li
            a(href='#')
              svg.glyph.stroked.home
                use(xlink:href='#stroked-home')
          li.active Ejercicios
      // /.row
      br
      .row
        .col-lg-12
          // ============Aqui Trabajo================
          .panel.panel-default
            #pane-techo.panel-heading.col-md-12 Crear Usuarios
            #body-pan.panel-body
              .sb-desc.col-md-12.col-sm-12
                form(method='post', action='/users/crear', role='form')
                  .form-group
                    label(for='ejemplo_email_1') Email
                    input.form-control(name='CorreoElectronico', type='email', placeholder='Introduzca email')
                  .form-group
                    label(for='rol') Rol
                    input.form-control(name='Rol', type='text', placeholder='Introduce el rol')
                  .form-group
                    label(for='sel1') Tipo de identificación: 
                    select#sel1.form-control(name='TipoDeIdentificacion')
                      option Cédula
                      option Matrícula
                  .form-group
                    label(for='identificación') identificacion
                    input.form-control(type='text', name='Identificacion', placeholder='Ingrese identificación: ')
                  .form-group
                    label(for='nombre') Nombre
                    input.form-control(name='Nombres', type='text', placeholder='Introduzca cedula o Matrícula')
                  .form-group
                    label(for='apellidos') Apellidos
                    input.form-control(name='Apellidos', type='text', placeholder='Introduce los apellidos')
                  .form-group
                    label(for='Carrera') Carrera
                    input.form-control(name='Carrera', type='text', placeholder='Introduce la carrera')
                  button.btn.btn-default(type='submit') Enviar
          // ============/Aqui Trabajo================
        // /.row
      // /.row
    // /.main
    script(src='/public/sandbox/js/jquery-1.11.1.min.js')
    script(src='/public/sandbox/js/bootstrap.min.js')